.wrong-guesses {
	margin: 10px 10px 0px 10px;
}
.wrong-answer-message {
	margin: 20px 10px;
}

.game-button {
	width: auto;
	padding: 5px 10px;
	margin: 0 5px;
}

.modal-close-button {
	width: auto;
	padding: 5px 10px;
	margin-bottom: 10px;
}

.hint-text {
	margin: 5px 10px;
}

.answer-text {
	margin: 20px 10px;
	letter-spacing: 3px;
	line-height: 20px;
	overflow-wrap: break-word;
}

.hint-image {
	width: 100%;
}

/* .x {
	width: 85%;
} */

.modal-window {
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
	max-width: 350px;
	padding: 20px;
	background-color: rgb(253, 247, 192);
	/* width: 90%; */
}
.red-text {
	color: red;
	font-weight: bold;
}

@media screen and (max-width: 600px) {
	.modal-window {
		height: auto;
		padding: 20px;
		background-color: rgb(253, 247, 192);
		/* width: 90%; */
	}
}

@media screen and (max-height: 670px) {
	.hangman-image {
		height: 180px;
	}
}

@media screen and (max-height: 600px) {
	.hangman-image {
		height: 150px;
	}
}
@media screen and (max-height: 570px) {
	h1 {
		margin-bottom: 5px;
	}
	.lives-left-text {
		margin-top: 5px;
	}
	.answer-text {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.hangman-image {
		height: 135px;
	}
}
