.wrong-guesses {
	margin: 10px;
}
.wrong-answer-message {
	margin: 20px 10px;
}

.game-button {
	width: auto;
	padding: 5px 10px;
	margin: 0 5px;
}

.hint-text {
	margin: 20px 10px;
}

.answer-text {
	margin: 20px 10px;
	letter-spacing: 3px;
	line-height: 20px;
	overflow-wrap: break-word;
}

/* .x {
	width: 85%;
} */

@media screen and (max-height: 670px) {
	.hangman-image {
		height: 180px;
	}
}

@media screen and (max-height: 600px) {
	.hangman-image {
		height: 150px;
	}
}
